@model PropertyListViewModel




 @foreach (var item in Model.Areas)
          {
             <p>
            <a href="#!" class="text-reset">@item.Name</a>
          </p> 
          }
          
          