@model PrimeHomes.Models.Bedrooms
@{
    ViewData["Title"] = "Details Of Number Of Bedrooms";
    Layout = "_AdminLayout";
}




<div class="row d-flex justify-content-center">
    <div class="col-md-6">
    <dl class="row">
        <dt class = "col-sm-2">
            Number of Bathrooms
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
    </dl>
   <a class="float-right btn btn-outline-success" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> 
    <a class="float-left btn btn-primary" asp-action="Index">Back to List</a>
</div>

    
</div>
